include common/_mixins

block variables
html
  include common/_generals

  body
    .main__wrapper
      include ./common/_header
      .header__burger
        .burger.no-animation
          span.burger__line
      .socials.top
        ul.social__list.list
          each href, item in {'vk' : '../assets/img/sprite/sprite.svg#vk', 'skype': '../assets/img/sprite/sprite.svg#skype' , 'git': '../assets/img/sprite/sprite.svg#github'}
            li.list__item.social__list-item
              a(href='#').list__link.social__list-link
                svg.icon
                  use(xlink:href= href)

      .main-content
        block content
      
      block footer