include common/_mixins

block variables
  - var pages {'Мои работы' : '/pages/works.html', 'Блог' : '/pages/blog.html', 'Обо мне' : '/pages/about.html', 'Авторизация' : '/pages/auth.html'}
doctype html
html
  include common/_generals

  body
    .main__wrapper
      include ./common/_header

      .main-content
        block content
          

      include ./common/_footer


          

