h3.heading__desc
    | Frontend
ul.row.frontend
  li.circle__item
    .circle__wrap-svg
        .circle__desc
            | HTML5
        svg(viewBox='0 0 110 110').circles
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first
            circle(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)").circle__second.circle-75 
  li.circle__item
    .circle__wrap-svg
        .circle__desc
            | CSS3
        svg(viewBox='0 0 110 110').circles
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first 
            circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)").circle__second.circle-80 
  li.circle__item
    .circle__wrap-svg
        .circle__desc
            | Javascript & jQuerry
        svg(viewBox='0 0 110 110').circles
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first 
            circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)").circle__second.circle-45 

h3.heading__desc
    | Backend
ul.row.backend
  li.circle__item
    .circle__wrap-svg
        .circle__desc
            | PHP
        svg(viewBox='0 0 110 110').circles
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first
            circle(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)").circle__second.circle-15 
  li.circle__item
    .circle__wrap-svg
        .circle__desc
            | mySQL
        svg(viewBox='0 0 110 110').circles
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first 
            circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)").circle__second.circle-55 
  li.circle__item
    .circle__wrap-svg
        .circle__desc
            | Node.js & npm
        svg(viewBox='0 0 110 110').circles
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first 
            circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)").circle__second.circle-35 
  li.circle__item
    .circle__wrap-svg
        .circle__desc
            | Mongo.db
        svg(viewBox='0 0 110 110').circles
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first 
            circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)").circle__second.circle-65 

h3.heading__desc
    | Workflow 
ul.row.workflow
  li.circle__item
    .circle__wrap-svg
        .circle__desc
            | Git
        svg(viewBox='0 0 110 110').circles
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first
            circle(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)").circle__second.circle-55 
  li.circle__item
    .circle__wrap-svg
        .circle__desc
            | Gulp
        svg(viewBox='0 0 110 110').circles
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first 
            circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)").circle__second.circle-65 
  li.circle__item
    .circle__wrap-svg
        .circle__desc
            | Webpack
        svg(viewBox='0 0 110 110').circles
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first 
            circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)").circle__second.circle-35 
