footer.footer
    .row
        .col__wrap.col__4
            .footer__left
                p
                | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
        .col__wrap.col__5
            .footer__center
                p
                | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
        .col__wrap.col__3
            .footer__right
                p
                | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
