block footer
footer(class="footer" + footer_subclass)
    .footer__wrap
        .container
            .row
                .col__wrap.col__footer-left
                    .footer__left.text--light
                        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
                .col__wrap.col__footer-center
                    .footer__center
                        nav.nav
                           ul.nav__list.list
                              each href, title in {'Мои работы': '/pages/works.html', 'Блог': '/pages/blog.html', 'Обо мне': '/pages/about.html', 'Авторизация': '/index.html'}
                                li.nav__list-item.list__item
                                    a(href= href).nav__list-link.text--medium= title 
                        .socials
                             ul.social__list.list
                                each href, item in {'https://vk.com/staniszhuk' : '../assets/img/sprite/sprite.svg#vk', 'skype:ylitylia': '../assets/img/sprite/sprite.svg#skype' , 'https://github.com/StasZhuk': '../assets/img/sprite/sprite.svg#github'}
                                    li.list__item.social__list-item
                                        a(href= item).list__link.social__list-link
                                            svg.icon
                                                use(xlink:href= href)
                .col__wrap.col__footer-right
                    .footer__right
                        .footer__link-wrap
                            a(href="skype:ylitylia")
                                | skype_ylitylia
                        .footer__link-wrap
                            a(href="mailto:menistrel2005@yandex.ru")
                                | menistrel2005@yandex.ru
                        .footer__link-wrap
                            a(href="tel:+79165719284") 
                                | +7 916 571 92 84
                        .footer__link-wrap
                            span 
                                | Москва
    .footer__bottom.bg--blue
        p
            span.auth-name © staszhuk 
            br.visible-sm
            | Создано с любовью в LoftSchool | 2017
                
