header(id="back").header
    .auth-stars
    .twinkling
    .scroll-parallax
      .scroll-parallax__container
        .scroll-parallax__layer
          //- img(src=`/assets/img/parallax/mountains.png`).scroll-parallax__image
        .parallax__content
    .header__top
        .header__top-menu
            .container.clearfix
                .socials
                  ul.social__list.list
                    each href, item in {'vk' : '../assets/img/sprite/sprite.svg#vk', 'skype': '../assets/img/sprite/sprite.svg#skype' , 'git': '../assets/img/sprite/sprite.svg#github'}
                      li.list__item.social__list-item
                        a(href='#').list__link.social__list-link
                          svg.icon
                            use(xlink:href= href)

                .header__nav
                  .header__burger
                    .burger.no-animation
                      span.burger__line
                  nav(id="main-nav").nav.nav__main
                    ul.nav__list.list
                      each href, title in {'Мои работы': '/pages/works.html', 'Блог': '/pages/blog.html', 'Обо мне': '/pages/about.html', 'Авторизация': '/index.html'}
                        li.nav__list-item.list__item
                          a(href= href).nav__list-link.active
                            span= title

        .header__center
            .stars__bg-wrap
                svg.stars
                    use(xlink:href='../assets/img/sprite/sprite.svg#stars_1')
            .user
                .user__wrap-img
                    img(alt="image" src="/assets/img/header/logo_user.jpg").user__img
                block user__desc

        block arrow__down  
              
        block triangle

    block header__bottom-heading