.about {
    padding-top: 50px;
    @include md() {
        background-color: $content-left_bg;

        .about__left-desc {
            padding: 0;
        }
        .row {
            justify-content: center;        
        }
        .header__bottom-wrap  {
            padding: 40px 0;
        }
        .heading__desc {
            font-size: 21px;
            line-height: 28px;
            text-align: center;
        }
    }

    .heading__main {
        line-height: 46px;
        color: $text-color_main;
    }
    .heading__sub {
        text-transform: uppercase;
    }
    .header__bottom-wrap  {
        padding-top: 10px;
        background-color: transparent;
        .heading__main {
            color: $text-color_main;
        }

    }
    .user-img-big {
        max-width: none;
        max-height: none;
    }

}
.about__left {
    padding: 0 40px;
    @include col();
    @include col-6();
    @include md() {
        @include col-8();  
        padding: 0;      
    }
    @include sm() {
        @include col-12();   
        .about__left-desc {
            p {
               padding-bottom: 0;
               margin-bottom: 15px;
            }
        }   
    }
}
.about__right {
    padding-left: 40px;
    @include col();
    @include col-6();
    @include md() {
        @include col-12();  
        padding: 0;      
    }
    @include sm() {
        @include col-12();  
        .heading__sub-wrap {
        padding-right: 0;
        padding-left: 0;
    } 
    }
    .heading__sub-wrap {
        padding: 0 70px;
        padding-top: 10px;
    }
}

.about__left-desc,
.about__right-desc {
    padding-right: 70px;
    padding-bottom: 30px;
    p {
        padding-bottom: 20px;
    }
    p:last-child {
        padding-bottom: 0;
    }
}

.about__right-desc {
    padding-top: 30px;
    padding-right: 0;
}

.footer-about {
    background-color: rgba(0,0,0,.85);
    position: absolute;
    bottom: 0;
}

.body__bg-left,
.body__bg-right {
    @include md() {
        display: none;
    }
}

.about__heading-col {
    @include md() {
        @include col-8();
        margin: 0 auto;
    }
    @include sm() {
        @include col-12(); 
    }  
}
.about__circle-col {
    @include md() {
        @include col-10();
        margin: 0 auto;
    }
    @include sm() {
        @include col-12();
    }   
}


