.auth {
    color: $white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background: #10264F url('../img/auth/auth_bg.jpg') no-repeat center;
    background-size: cover;
    .socials {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .user {
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgba(28, 31, 41, 0.5);
    }
}

.auth__wrap {
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
    @include sm() {
        margin-right: auto;
    }
}


.auth__nav-list {
    display: flex;
    width: 100%;
    li:first-child {
        flex-grow: 1.8;
    }
    li:nth-child(2) {
        flex-grow: 1.4;
    }
    li:last-child {
        flex-grow: 1;
        border-right: none;
    }
}

.auth__nav-item {
    flex: 1;
    background-color: $acsent;
    border-right: 1px solid #dee3e7;
    transition: background-color 0.3s; 
    &:hover {
        background-color: $acsent-hov;
    }
}

.auth__nav-link {
    font-family: "robotomedium", sans-serif;
    display: block;
    padding: 10px 0;
    color: $white;
}

.copyr__wrap {
    text-align: center;
    font-family: "robotolight", sans-serif;
    margin: 0 auto;
    margin-bottom: 40px;
}
