@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

.animation-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.auth-stars, .twinkling, .clouds, .clouds-2, .wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  display: block;
}

.wrapper {
  z-index: 15;
}

.twinkling{
  background: transparent url('../img/auth__animation/twinkling.png') repeat top center;
  z-index: 4;
  animation: move-twink-back 400s linear infinite;
}
.auth-stars {
  background: transparent url('../img/parallax/_layer_1.png') no-repeat top center;
  z-index: 3;
}

.clouds{
    background: transparent url('../img/parallax/_cloud_3.png') repeat top center;
    background-size: 90%;
    z-index: 7;
    animation: move-clouds-back 300s linear infinite;
    top: 39%;
    left: -5%;
}
.clouds-2{
    background: transparent url('../img/parallax/_layer_7.png') repeat top center;
    background-size: 90%;
    z-index: 7;
    animation: move-clouds-back 800s linear infinite;
    top: 70%;
    left: -10%;
    z-index: 9;
}