.auth {
    color: $white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background: $acsent url('../img/auth/auth_bg.jpg') no-repeat center;
    background-size: cover;
    .socials {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .heading__h2 {
        margin-bottom: 5px;
    }
}

.auth__wrap {
    margin-left: auto;
}

.user {
    display: flex;
    flex-direction: column;
    background-color: rgba(28, 31, 41, 0.5);
    padding-top: 40px;
}

.auth__nav-list {
    display: flex;
    width: 100%;
    li:last-child {
        border-right: none;
    }
}

.auth__nav-item {
    flex: 1;
    background-color: $acsent;
    border-right: 1px solid #dee3e7;
}

.auth__nav-link {
    display: block;
    padding: 10px 0;
    color: $white;
}

.copyr__wrap {
    margin: 0 auto;
    margin-bottom: 40px;
}
