.blog__wrap {
    width: 100%;
    padding-top: 70px;
    background-color: $blog-bg;
    padding-bottom: 70px;
    .heading__sub {
        text-align: left;
        margin-bottom: 30px;
    }

}

.blog__left,
.blog__right {
    @include col();
}

.blog__left {
    position: relative;
    @include col-4();
    @include md() {
        position: absolute;
        right: 100%;
        top: 0;
        height: 100vh;
    }
}

.blog__right {
    @include col-8();
    @include md() {
        @include col-12();
    }
}

.blog__tabs {
    position: relative;
    margin-right: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    @include sm() {
        margin-top: 0;
        background-color: #253468;
    }
    &.active {
        position: fixed;
        top: 10px;
        left: 0;
        width: 25%;
    }
}

.btn__menu {
    position: absolute;
    display: none;
    width: 15px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    background-color: #253468;
    border-radius: 0 50% 50% 0 ;
    border-left: 0;
    box-shadow: 3px 0 3px rgba($black, 0.2);
    @include sm() {
        display: block;
    }
}

.blog__tab {
    cursor: pointer;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: right;
    line-height: 26px;
    border-right: 1px solid transparent;
    color: $text-color_main;
    &.active {
        font-family: "robotobold", sans-serif;
        color: $acsent;
        border-right-color: $acsent; 
    }
}

.blog__tab-content {
    margin-right: 12.5%;
    @include md() {
        margin-right: 0;
        padding: 0 10px;
    }
}

.post__line {
    border: none;
    height: 2px;
    color: $post_line;
    background-color: $post_line;
    margin: 70px 0;
}

.footer.blog {
    background-color: rgba($text-color_main, 0.85);
}
