.burger {
    position: relative;
    z-index: 101;
    width: 40px;
    height: 36px;
    cursor: pointer;
    &::after,
    &::before,
    .burger__line {
        content: '';
        position: absolute;
        display: block;
        width: 90%;
        left: 5%;
        height: 5px;
        background-color: $white;
        border-radius: 5px;
    }
    &::after {
        bottom: 0;
    }
    &::before {
        top: 0;
    }
    .burger__line {
        top: 50%;
        margin-top: -2.5px;
    }
}