.btn {
    display: block;
    width: 180px;
    max-width: 180px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: $white;
    border: 1px solid $white;
    border-radius: 2px;
    margin-top: 25px;
    margin-right: 20px;
    cursor: pointer;
}