.flip__container {
    perspective: 1000px;
}
.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

.front, .back {
	backface-visibility: hidden;
    width: 100%;
    height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.flip__container.flip .flipper {
	transform: rotateY(180deg);
}