.footer {
    position: relative;
    z-index: 100;
    font-family: 'robotolight', sans-serif;
    line-height: 24px;
    width: 100%;
    color: $white;
    background-color: $bg_black-opacity;
    .socials{
        width: 150px;
        margin-left: 0;
        @include sm() {
            margin: 0 auto;
        }
    }
    .social__list {
        justify-content: space-between;
    }
    .icon {
        fill: rgba($white, 0.5);
        &:hover {
            fill: $acsent;
        }
    }
    .nav {
        @include sm() {
            margin-bottom: 10px;
        }
    }
    .nav__list-item {
        flex: 1;
        text-align: center;
        margin-right: 10px;
        @include md() {
            margin-right: 30px;
        }
        @include sm() {
            margin-right: 10px;
            margin-left: 10px;
            margin-bottom: 5px;
        }
    }
    .nav__list-link { 
        white-space: nowrap;
        transition: color 0.3s;
        &:hover {
            color: $acsent;
        }
    }
    .nav__list {
        flex-wrap: wrap;
        li:last-child {
            margin-right: 0;
        }
        @include md() {
            justify-content: flex-start;
        }
        @include sm() {
            justify-content: space-between;
            li:last-child {
                margin-right: 10px;
            }
        }
    }
    p {
        margin-bottom: 0;
    }

}
.footer__wrap {
    height: 100%;
    width: 100%;
    padding: 25px 0;
}
.footer__center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    padding: 0 30px;
    border-left: 2px solid rgba($white, 0.2); 
    border-right: 2px solid rgba($white, 0.2); 
    @include md() {
        border: none;  
        padding: 0;   
    }
    @include sm() {
            padding-bottom: 15px;
            border-bottom: 1px solid rgba($white, 0.2); 
            margin-bottom: 15px;
        }
}
.footer__right {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;  
    @include md() {  
        text-align: right;
        padding: 0;
    }
    @include sm() {  
        @include col-12();
        text-align: center;
    }
}
.footer__left {
    width: 100%;
    padding: 0 30px;  
    @include md() {
        margin-bottom: 15px;
        padding: 0;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba($white, 0.2);  
        text-align: center;   
    }
}
.footer__bottom {
    text-align: center;
    padding: 5px 0;
}

.bg--blue {
    background-color: rgba($acsent, 0.5);
}

.auth-name {
    margin-right: 10px;
    @include sm() {
        margin-right: 0;
    }
}

.col__footer-left {
    @include col-4(); 
    @include md() {
        @include col-12();     
    }
}
.col__footer-center {
    @include col-5();  
    @include md() {
        @include col-8();     
    }
    @include sm() {
        @include col-12();
        margin-bottom: 15px;    
    }
}
.col__footer-right {
    @include col-3();
    @include md() {
        @include col-4();     
    }  
}