.form__wrap-contacts {
    background: url('../img/works/works_bg-tower.jpg') no-repeat 49% 77%;
    background-position: cover;
    @include col();
    @include md() {
        width: 350px;
    }
        width: 400px;
}

.form__contacts {
    background-color: rgba($white, 0.05);
}
.form__contacts-top {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.form__contact-bottom {
    display: flex;
    .btn {
        flex: 1;
    }
}

.form__inputs-wrap {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

}
input[type="text"],
input[type="password"],
textarea {
    padding: 15px;
    width: 100%;
    color: rgba($white, 0.5);
    background-color: rgba($white, 0.07);
}

textarea::placeholder,
input[type="text"]::placeholder,
button[type="reset"] {
    color: rgba($white, 0.5);
}

input.input--white {
    width: 100%;
    background-color: $white;
    color: $text-color_main;
    &::placeholder {
        color: $text-color_main;
    }
}

.inputs__flex-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .radio__wrap {
        margin-right: 40px;
    }
    .radio__wrap:last-child {
        margin-right: 0;
    }
    input {
        margin-right: 5px;
    }
}

.checkbox {
    input {
        margin-right: 5px;
    }
}