.header {
    display: flex;
    overflow: hidden;
    color: $white;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background: #18325f url(../img/header/header_bg.jpg) no-repeat center 80%;
    background-size: cover;
    .socials {
        float: left;
        left: 10px;
        top: 30px;
    }
    .heading__h1 {
        color: $white;
    }
    .nav__main {
        visibility: hidden;
        display: block;
        transition: opacity 0.5s;
    }
}
.nav__main {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#183669, 0.9);
        font-family: "sansus", sans-serif;
        font-size: 63px;
        line-height: 63px;
        text-transform: uppercase;
        opacity: 0;
        @include md {
            font-size: 35px;
            line-height: 35px;
        }
        @include sm {
            font-size: 28px;
            line-height: 28px;
        }
        &.active {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.5s;
    }

        .nav__list {
            height: 100%;
            flex-direction: column;
            justify-content: center;
        }
        .nav__list-item {
            display: flex;
            padding: 20px;
            justify-content: center;
        }
        .nav__list-link {
            display: flex;
            flex-direction: column;
            span {
                display: block;
            }
            &.active::after {
                content: '';
                display: block;
                height: 3px;
                background-color: $white;
                width: 100px;
                margin: 0 auto;
                margin-top: 10px;
                // margin-bottom: 30px;
            }
            
        }
        span {
            margin: auto;
        }
}

.header__top {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header__top-menu {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    @include sm {
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .container {
        position: static;
        @include sm {
            padding: 0;
        }
    }
}

.header__nav {
    float: right;
}

.social__list {
    justify-content: space-between;
}

.header__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px 50px;
    @include sm() {
        width: 100%;
        padding: 20px 10px;
    }
}

.header__triangle {
    height: 110px;
}

.user__img {
    max-width: 100%;
    max-height: 100%;
}

.header__bottom-wrap {
    position: relative;
    width: 100%;
    padding: 50px 0;
    background-color: $bg_black-opacity;
    text-align: center;
    .heading__main {
        color: $white;
    }
    @include sm() {
        padding: 30px 0;
    }
}

.header__bottom-heading--blog {
    padding: 0;
    background-color: transparent;
}

.stars__bg-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.header__arrow-wrap {
    position: absolute;
    width: 26px;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
    svg {
        fill: rgba($white, 0.7);
    }
}
.header__about--arrow {
    bottom: 80px;
}
