// socials icon-list
.socials {
    margin: 0 auto;
    width: 150px;
    a {
        display: block;
    }
}
// social icons 


.icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 36px;
    vertical-align: middle;
    fill: $white;
    transition: fill 0.3s;
    &:hover {
        fill: $acsent;
    }
}