// header triangle element
.triangle {
  width: 100%;
  height: 100%;
} 
.rectangle {
  height: 100%;
  width: 100%;
  polygon {
  fill: $bg_black-opacity;
  }
}

.header__triangle.header__triangle--white {
    .triangle__left {
        fill: $content-left_bg;
    } 
    .triangle__right {
        fill: $content-right_bg;
    } 
}