// user block
.details__wrap {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  background: transparent url() no-repeat center;
  background-position: round;
}
.user__wrap {
  width: 350px;
  max-width: 350px;
  display: inline-block;
  margin: 0 auto;
  border-radius: 3px;
  @include md() {
    margin: 0 auto;
  }
  @include sm() {
    width: 95%;
  }

}
.user {
  position: relative;
  z-index: 2;
  color: $white;
  text-align: center;

  .user__wrap-img {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .heading__sub {
    margin-bottom: 5px;
    color: $white;
    white-space: nowrap;
    @include sm() {
      font-size: 21px;
      line-height: 28px;
    }
  }
}

.user-img-big {
    img {
        height: auto;
        width: 100%;
    }
}

