// user block
.details__wrap {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  background: transparent url() no-repeat center;
  background-position: round;
}
.user__wrap {
  position: relative;
  z-index: 100;
  overflow: hidden;
  width: 350px;
  height: 405px;
  max-width: 350px;
  display: inline-block;
  margin: 0 auto;
  border-radius: 3px;
  @include md() {
    margin: 0 auto;
  }
  @include sm() {
    width: 95%;
  }

}
.user {
  position: relative;
  width: 100%;
  z-index: 2;
  color: $white;
  text-align: center;

  .user__wrap-img {
    width: 140px;
    height: 140px;
    margin: 40px auto 20px;
    overflow: hidden;
    border-radius: 50%;
  }
  .heading__sub {
    margin-bottom: 5px;
    color: $white;
    @include sm() {
      font-size: 21px;
      line-height: 28px;
    }
  }
}

.user-img-big {
    img {
        height: auto;
        width: 100%;
    }
}

.user__block-info {
  flex: 1;
}

.user-auth {
  .form__login {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .heading__sub {
    padding: 40px 0;
    margin: 0;
  }
  .auth__nav-list li:first-child {
    flex-grow: 1;
  }
  .inputs__wrap {
    margin-left: 10px;
    margin-right: 10px;
  }
  .auth__nav {
    margin-top: auto;
  }
  .radio__desc {
    width: 100%;
    margin-bottom: 10px;
  }
  .checkbox {
    margin-bottom: 15px;
  }
  label {
    color: rgba($white, 0.7);
  }
}

