// user block
.details__wrap {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  background: transparent url() no-repeat center;
  background-position: round;
}
.user__wrap {
  display: inline-block;
  margin: 0 auto;
  border-radius: 3px;
}
.user {
  position: relative;
  z-index: 2;
  color: $white;
  text-align: center;
  .user__block-info {
    padding: 0 50px;
  }
  .user__wrap-img {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .heading__sub {
    margin-bottom: 5px;
    color: $white;
  }
}

.user-img-big {
    img {
        height: auto;
        width: 100%;
    }
}

