.connect-me {
    padding: 70px 0;
    background: #202123 url('../img/works/works_bg-tower.jpg') no-repeat center;
    background-size: cover;
    color: $white;
    @include sm() {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .row {
        justify-content: center;
        margin-bottom: 70px;
        @include sm() {
            margin-bottom: 0;
        }
    }
    .heading__wrap {
        margin: 0 200px;
        margin-bottom: 50px;
        @include md() {
            margin-left: 80px;
            margin-right: 80px;
        }
        @include sm() {
            margin: 0;
            margin-bottom: 30px;
        }
    }
    .heading__main,
    .heading__sub {
        color: $white;
    }
    .heading__sub {
        text-transform: uppercase;
    }
        .list__item:last-child {
        @include sm() {
            margin-bottom: 20px;
        }
    }
    .list__item {
        @include col();
        @include col-4();
        text-align: center;
        font-family: "robotoitalic", sans-serif;
        padding: 0 10px;
        @include md() {
            @include col-6();
        }
        @include sm() {
            @include col-12();
            margin-bottom: 40px;
            padding: 0;
        }
    }
    .user__wrap-img {
        border-radius: 50%;
        max-width: 93px;
        max-height: 93px;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 20px;
        @include sm() {
            max-width: 56px;
            max-height: 56px;
            margin-bottom: 15px;
        }
    }
    .user__img {
        width: 93px;
        height: 93px;
        background: transparent  no-repeat center;
        background-size: cover;
    }
    .user__reference-1 {
        background-image: url('../img/works/works-user-1.png');
        background-position: 0 -15px;
    }

    .user__reference-2 {
        background-image: url('../img/works/works-user-2.png');
    }
    .works__arrow-wrap {
        text-align: center;
        @include sm() {
            padding-top: 30px;
        }
    }

    .icon:hover {
        fill: rgba(green, 0.5);
    }

}

.reference {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.reference__user-name {
    font-family: "robotobold_italic", sans-serif;
    margin-top: auto;
    margin-bottom: 5px;
}
.reference__desc {
    position: relative;
    z-index: 2;
    text-align: left;
    i {
        z-index: 1;
        position: absolute;
        top: 10px;
        transform: translateY(-50%);
        left: 0;
        font-size: 80px;
        color: rgba($white, 0.1);
    }
}
