@import '../_mixin/_mixins';
body,
html {
    height: 100%;
    width: 100%;
}

html {
    box-sizing: border-box;
    font-size: $text-size_main;
    font-family: "robotoregular", sans-serif;
    color: $text-color_main;

    @include lg() {
        font-size: 15px;
    }
    @include md() {
        font-size: 14px;
    }
    @include sm() {
        font-size: 13px;
    }
}
body {
    background-color: #1B3665;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: $white;
    text-decoration: none;
}

input,
textarea,
button {
    border: none;
    outline: none;
}
.heading__main {
    text-transform: uppercase;
    @include sm() {
        font-size: 35px;
        line-height: 42px;
    }
}
.heading__main,
.heading__sub {
    position: relative;
    text-align: center;
    font-family: 'Sansus', sans-serif;
    color: $text-color_main;
}

.heading--uppercase {
    text-transform: uppercase;
}

.heading__main {
    font-size: $text-size_h1;
    @include md() {
        font-size: 49px;
        line-height: 52px;
    }
}
.heading__sub {
    font-size: $text-size_h2;
    line-height: 41px;
    font-weight: normal;
    @include sm() {
        font-size: 21px;
        line-height: 28px;
    }
}
.heading__desc {
    font-size: $text-size_h3;
    font-weight: normal;
    line-height: 32px;
}

p {
    line-height: 26px;
    margin-bottom: 20px;
}


.heading__sub-wrap {
    padding: 30px 0;
    .heading__sub {
        margin-bottom: 25px;
        @include sm() {
            margin-bottom: 15px;
        }
    }
    &::after {
        content: '';
        display: block;
        width: 90px;
        height: 3px;
        margin: 0 auto;
        background-color: $text-color_main;
    }
}
.text--light {
    font-family: 'robotolight', sans-serif;
}
.text--medium {
    font-family: 'robotomedium', sans-serif;
}

svg {
    width: 100%;
    height: 100%;
}

.main__wrapper {
    position: relative;
}


.list {
    display: flex;
    justify-content: space-between;
}
.main__wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    position: relative;
    .nav {
      display: none;
    }
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.visible-sm {
    display: none;
    @include sm() {
        display: block;
    }
}