// text-size
$text-size_main: 16px;
$text-size_h1: 63px;
$text-size_h2: 35px;

// text-color
$text-color_main: #474b57;

// colors
$acsent: #004cd1;
$acsent-hov: #043ea3;
$btn_auth-bg: #083c96;
$white: #fff;
$black: #000;
$bg_black-opacity: rgba(#000, 0.85);
$content-left_bg: #f2f0e8;
$content-right_bg: #f4f5f0;