.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col__wrap {
    flex: 1;
}
.col__4 {
    min-width: calc(33.3333% - 20px);
}
.col__5 {
    min-width: calc(41.6666% - 20px);
}
.col__3 {
    min-width: calc(25% - 20px);
}
.col__12 {
    min-width: calc(100% - 20px);
}