extends ../_template

block source
  - var url_js = 'about.js'

block variables
  - var title = 'About page'

block user__desc 
  h2.heading__h2 
    | Станислав Жуковский
  span.user__prof
    | Личный сайт веб разработчика 

block arrow__down
  .header__arrow-wrap.header__about--arrow
    a(href="#")
      svg(viewbox="0 0 100 100")
        use(xlink:href="../assets/img/sprite/sprite.svg#arrow_down")