extends ../_template

block source
  - var url_js = 'blog.js'

block variables
  - var title = 'Blog page'

block header__bottom-heading
  .header__bottom-wrap.header__bottom-heading--blog
    h1.heading__h1 
      | Блог
    .header__blog-desc
      | Статьи, которые я написал