extends ../_template

block source
  - var url_js = 'blog.js'

block variables
  - var title = 'Blog page'

block user__desc 
  .header__bottom-wrap.header__bottom-heading--blog
    h1.heading__main 
      | Блог
    .header__blog-desc
      | Статьи, которые я написал

block triangle
  .header__triangle.header__triangle--blog
    .triangle
      svg(class="rectangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none")
          polygon.triangle__left(points="0 0, 0 100, 50 100")
          polygon.triangle__right(points="100 0, 100 100, 50 100")

block content
  div(id="page-preloader").preloader
    .loader
      span(id="load-perc")
  +nav('nav', {'Мои работы': '/pages/works.html', 'Блог': '/pages/blog.html', 'Обо мне': '/pages/about.html', 'Авторизация': '/index.html'}, 'Блог')
  .blog__wrap
    .container.blog
      .row
        .blog__left
          .btn__menu
          .blog__tabs
            a(href='#one' name='one').blog__tab.active
              | Самое важное в SASS
            a(href='#two' name='two').blog__tab
              | Приёмы в вёрстке, без которых не обходится ни один сайт
            a(href='#free' name='free').blog__tab 
              | Самый необходимый набор Gulp плагинов
            a(href='#four' name='four').blog__tab 
              | Почему я выбрал Jade
        .blog__right    
          .blog__tab-content
            .blog__tab-item
              articles.post
                h2(id="one").heading__sub.post__heading
                  | Самое важное в SASS
                .date__wrap
                  time(datetime="2016-11-22").date
                    | 22 ноября 2016
                .post__desc
                  p  
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ab iure officia aliquam, odit quibusdam facilis voluptate neque impedit quod.
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae quasi voluptas quaerat rerum neque. Quidem commodi adipisci culpa inventore. Dolores enim perferendis deserunt at commodi ipsam ipsa minus harum repellat vitae rerum, amet iste pariatur doloremque excepturi optio doloribus cupiditate nam magni, sit consequuntur. Mollitia accusantium impedit porro. A, quis.
                  p
                    code
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae quasi voluptas quaerat rerum neque. Quidem commodi adipisci culpa inventore. Dolores enim perferendis deserunt at commodi ipsam ipsa minus harum repellat vitae rerum, amet iste pariatur doloremque excepturi optio doloribus cupiditate nam magni, sit consequuntur. Mollitia accusantium impedit porro. A, quis.
                  
            
            hr.post__line

            .blog__tab-item 
              articles.post
                h2(id="two").heading__sub.post__heading
                  | Приёмы в вёрстке, без которых не обходится ни один сайт
                .date__wrap
                  time(datetime="2016-11-13").date
                    | 13 ноября 2016
                .post__desc
                  p  
                    | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

                  p
                    | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                  p
            hr.post__line

            .blog__tab-item 
              articles.post
                h2(id="free").heading__sub.post__heading
                  | Приёмы в вёрстке, без которых не обходится ни один сайт
                .date__wrap
                  time(datetime="2016-11-13").date
                    | 13 ноября 2016
                .post__desc
                  p  
                    | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

                  p
                    | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                  p
            hr.post__line

            .blog__tab-item 
              articles.post
                h2(id="four").heading__sub.post__heading
                  | Приёмы в вёрстке, без которых не обходится ни один сайт
                .date__wrap
                  time(datetime="2016-11-13").date
                    | 13 ноября 2016
                .post__desc
                  p  
                    | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

                  p
                    | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                  p

block footer
  - var footer_subclass = " blog"
  include ../common/_footer