extends ../_template
block source
  - var url_js = 'works.js'

block variables
  - var title = 'Portfolio page'

block user__desc 
  h2.heading__h2 
    | Stanislav Zhukovskiy
  span.user__prof
    | Личный сайт веб разработчика


block header__bottom-heading
  .header__bottom-wrap
    h1.heading__h1 
      | Мои работы  